#no-bullets{
    list-style-type: none;
    margin: 1vw;
    margin-top: 35%;
    margin-left: 2vw;
    font-size: 35px;
}

#paragraphs{
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 35px;
}

#page{
    background-image: url('/public/BackGround.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(110, 63, 31);
    font-family: 'Special Elite', cursive;
}

#front-cover{
    background-image: url('/public/BookCover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#inside-cover{
    background-image: url('/public/InsideCover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#aqua{
    color: aquamarine;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#title{
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 50px;
}

#title-publish{
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 25px;
}

#end-quote{
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 50px;
}

.book-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}