#ticket-page{
    position:absolute;
    border: black solid 10px;
    display:grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
    top:50%;
    left:50%;  
    transform:translate(-50%, -50%);
    width: 80%;
    height: 30%;
    color: white; 
    background-color: #666666;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

#buy-ticket{
    position: absolute;
    text-align: center;
    font-size: 50px;
    left: 16%;
    top: 32%;
   
}

#ticket-img{
    
    background-image: url('/public/newPngs/ticket.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: 50%;
    top: 32%;
}