* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

Canvas{
  touch-action: none; 
} 

ul{
  list-style: none;
}

.npcContainer{
  position:absolute;
  
  display:grid;   

  grid-template-columns: .5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  background-color: #2196F3;
  padding: 10px;
   
  top:50%;
  left:50%;  
  transform:translate(-50%, -50%);
  width: 80%;
  height: 80%;
  color: white; background: #666666; opacity: .8;
  z-index: 10; 

  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;  
}

.npcPortrait{
  background-color: coral;
  margin: 10px;
  
  grid-row-start: 1;
  grid-row-end: 3
}

.npcTextBox{
  background-color: yellowgreen;
  margin: 10px;

  grid-column-start: 1;  
  grid-row-start: 3;
  grid-row-end: 5
}

.npcItems{
  /* position: relative; */
  background-color: rebeccapurple;
  margin: 10px;


  border: 10px black solid;
  grid-column-start: 2;  
  grid-row-start: 1;
  grid-row-end: 5
}


.npcItem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  /* position: relative; */
  margin: 1%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;

  border: #272727 solid 5px;
  background-color: #2196F3;
  display: flex;
}








