* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden; */
  background: #272727;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
}

Canvas{
  touch-action: none; 
} 

.label{
  background-color: #272727;
  color: gainsboro;
}

.listContainer {

  position: absolute;
  top: 80px;
  left: 50px;
  right: 50px;
  /* width: 200px; */
  height: 100px;
  border: 3px solid #73AD21;

  background-color: bisque;
  /* position: initial; */
  
  width: 40vw;
  border: 5px solid black;
}

.PlayerInventoryImage{
  width: 5vw;
}

.PlayerList{
  display: flex;
  justify-content: center;
}

